RewriteEngine On

# If request is NOT already in /src
RewriteCond %{REQUEST_URI} !^/src/

# If request is not an existing file
RewriteCond %{REQUEST_FILENAME} !-f

# If request is not an existing directory
RewriteCond %{REQUEST_FILENAME} !-d

# Internally rewrite to /src
RewriteRule ^(.*)$ src/$1 [L]