RewriteEngine On

# Set default homepage to src/index.php
DirectoryIndex src/index.php

# Internally route all non-existing files to /src
RewriteCond %{REQUEST_URI} !^/src/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ src/$1 [L]