#pagination ul {
    margin: 1rem 0;
    padding: 0;
}

#pagination ul > li {
    display: inline-block;
}

#pagination ul a {
    border: 1px solid #343a40;
    border-radius: 20px;
    display: block;
    margin: auto;
    font-size: 0.9rem;
    padding: 0.3rem 1.2rem;
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}

#pagination a.active {
    background-color: #343a40;
    color: #FFFFFF;
}

#pagination li.disabled {
    pointer-events: none;
}

.picture {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.profile-initials {
    border-radius: 50%;
    background-color: #6c757d; /* fixed gray */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
}

#logo {
    width: 100px;
    margin: auto;
}

#logo > img {
    width: 100%;
    object-fit: cover;
}

#logo-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    gap: 10px;
    
}

#logo-header div {
    width: 70px;
    height: auto;
}

#logo-header div img {
  flex-shrink: 0;
}

#logo-header h1 {
   font-size: 1.3rem;
   font-weight: bold;
}

ul {
    margin-bottom: 0rem;
}

.brand-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    gap: 5px;
}

.brand-link img {
    width: 30px;
    height: auto;
    display: block;
}

.brand-link .brand-text {
    font-weight: bold;
}

.sidebar-collapse .brand-link {
    justify-content: center;
}

.sidebar-collapse .brand-link .brand-text {
    display: none;
}

.sidebar-collapse .brand-link .brand-image {
     margin-right: 0;
}
.select2-container--classic .select2-results>.select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

th.table-light {
    background-color: #f8f9fa;
}

.select2-container--default .select2-selection--single { 
  height: 38px;
}

.select2-container--classic .select2-selection--multiple {
   height: 38px;
}

.select2-container--classic .select2-search--inline .select2-search__field {
  font-size: 1rem;
  font-family: inherit;
}

.main-sidebar, .layout-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*="navbar"]) {
  background-color: #221d75;
}

.select-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}


.error-page > .error-content {
  display: block;
  margin-left: 90px;
}

nav.main-header {
    flex: 1 200 auto;
}

.navbar-nav .input-group {
    width: 400px;
}

@media (max-width: 768px) {
    .navbar-nav .input-group {
        width: 100%;
    }
}

.border-left-primary { border-left: 6px solid #0d6efd !important; }
.border-left-success { border-left: 6px solid #198754 !important; }
.border-left-danger { border-left: 6px solid #dc3545 !important; }
.border-left-secondary { border-left: 6px solid #6c757d !important; }

.icon-wrapper {
  width: 40px;
  min-width: 40px;
}

.card-result h6 {
    font-weight: bold;
    font-size: 0.9rem;
    width: 240px;
}

.card-result p {
    font-size: 0.8rem;
}

.card-result .card-body {
    padding: 0.6rem 0.8rem;
}

.bg-pending {
    background-color: #ffc107 !important;
    color: #212529;
}

.bg-received {
    background-color: #0d6efd !important;
    color: #fff;
}   

.bg-released {
    background-color: #198754 !important;
    color: #fff;
}

/* li.breadcrumb-item.active {
    width: 300px;
} */